{% extends "base.html" %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href='{% static data_static.css %}'>
{% endblock estilos %}

{% block main %}

    <div class="listagem">
        <div class="titulo">
            <h3>{{data_static.titulo}}</h3>
            <a href='{% url data_static.link %}'><img src={% static "img/icons8-plus-32.png" %} alt="sinal de soma"></a>
        </div>
        <hr style="width: 80%;">
        <div class="pesquisa">
            <label for="pesquisa">Digite o nome</label>
            <input type="search" name="pesquisa" id="">
            <button type="button">Pesquisar</button>
        </div>
        <div class="lista_tabela">
            <table>
                <thead>
                    <tr>
                        {% for th in data_static.th_tabela %}
                            {% if data_static.titulo == 'Turma' and th == 'Opções'%}
                                <th style="width: 22rem;">{{th}}</th>
                            {% else %}
                                <th>{{th}}</th>
                            {% endif %}    
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in data_cadastros %}
                    <tr id="{{data.id}}" class="alteracoes_tr">
                        {% if data.cpf %}
                        <td>{{data.nome}}</td>
                        <td>{{data.cpf}}</td>
                        <td>{{data.data_nascimento}}</td>
                        {% elif data.nome_disciplina %}
                        <td>{{data.nome_disciplina}}</td>
                        <td>{{data.data_criacao}}</td>
                        {% elif data.ano %}
                        <td>{{data.nome_turma}}</td>
                        <td>{{data.ano}}</td>
                        <td>{{data.data_criacao}}</td>
                        {% endif %}
                        <td>
                            {% for td, link in data_static.td_links.items %}
                                <a href="#" onclick="linkMudança(event, '{% url link data.id %}', '{{td}}', {{data.id}})">
                                    {{td}}
                                </a>
                            {% endfor %}
                        </td>
                    </tr>
                    {% empty %}
                        <tr>
                            {% for i in data_static.th_tabela %}<td>Sem cadastros</td>{% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock main %}

{% block javascript %}
<script src="{% static "javascript/alterarExcluir.js" %}"></script>
{% endblock javascript %}
