main{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    height: 79.5vh;
}

.formulario{
    text-align: center;
    align-self: center;
    align-content: center;
    background-color: aqua;
    width: 20rem;
    height: 21rem;
    border: 0.1rem black solid;    
    border-radius: 0.7rem;
}
.formulario_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    .formulario_content_grupo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        align-self: flex-end;
        margin-right: 1rem;
    }
    input{
        width: 10rem;
        height: 1.5rem;
        margin-right: 1.5rem;
        border-radius: 0.2rem;
        border: none;
    }
    label{
        margin-left: 1rem;
    }
    p{
        font-size: large;
        font-weight: bold;
    }
    button{
        padding: 0.5rem;
        width: 3.5rem;
        align-self: center;
        border-radius: 0.2rem;
        border: none;
    }
}