{% extends "base.html" %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href={% static "css/cadTurma.css" %}>
{% endblock estilos %}

{% block main %}

    <h2><a href={% url "turma:turma" %}>Turma</a></h2><hr>
    <div class="infos">
        <form method="post" class="infos_content">
            {% csrf_token %}
            <div class="infos_bloco">
                <div class="infos_content_grupo">
                    <label for="nome">Digite o nome da Turma</label>
                    <input type="text" name="nome" id="nomeCad">
                </div>
                <div class="infos_content_grupo">
                    <label for="Ano">Digite o Ano</label>
                    <input type="number" name="Ano" id="">
                </div>
                <div class="infos_content_grupo">
                    <label for="Data de Nascimento">Data de Criação</label>
                    <input type="date" name="Data de Nascimento" id="dateCad">
                </div>
            </div>
            <div class="vincular">
                <button type="button" id="openModalDocente">Vincular Docentes</button>
                <button type="button" id="openModalAluno">Vincular Alunos</button>
            </div>
            <span></span>
            <button type="button" id="">Envicar</button>
        </form>
        <div id="myModalDocente" class="modalDocente">
            <div class="modal-content">
                <div class="modal_content_docente">
                    <p>Vincular Docente</p><hr>
                    <p>Docente</p>
                    <select name="select_docente" id="select_docente">
                        {% for docente in data_docente %}
                        <option value="{{docente}}">{{docente.nome}}</option>
                        {% empty %}
                        <option value="------">-----</option>
                        {% endfor %}
                    </select>
                    <div class="disciplinas_checkbox">
                        {% for disciplina in data_disciplina %}
                        <div class="disciplinas_checkbox_disciplina">
                            <input type="checkbox" name="checkbox{{forloop.counter}}" id="checkboxID{{forloop.counter}}">
                            <label for="checkbox{{forloop.counter}}">{{disciplina.nome_disciplina}}</label>
                        </div>
                        {% empty %}
                        <p>SEM DISCIPLINAS</p>
                        {% endfor %}
                    </div>
                    <button type="button" id="btn_sair_docente">Sair</button>
                </div>
            </div>
        </div>
        <div id="myModalAluno" class="modalAluno">
            <div class="modal-content modal_aluno">
                <div class="modal_content_aluno">
                    <p>Vincular Aluno(a)</p><hr>
                    <div class="alunos_checkbox">
                        {% for aluno in data_aluno %}
                        <div class="alunos_checkbox_aluno">
                            <input type="checkbox" name="{{aluno}}{{forloop.counter}}" id="{{aluno}}{{forloop.counter}}">
                            <label for="{{aluno}}{{forloop.counter}}">
                                {{aluno.nome}} / cpf: {{aluno.cpf}} / Data de nascimento: {{aluno.data_nasc}}
                            </label>
                        </div>
                        {% empty %}
                        <p>SEM ALUNOS CADASTRADOS</p>
                        {% endfor %}
                    </div>
                    <button type="button" id="btn_sair_aluno">Sair</button>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}

{% block javascript %}
    <script src={% static "javascript/cadTurma.js" %}></script>
{% endblock javascript %}