{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direção</title>

    <link rel="stylesheet" href={% static "css/base.css" %}>
    {% block estilos %}{% endblock estilos %}

</head>
<body>
    <header>
        <nav>
            <h4>Edu Station</h4>
            <h2>Direção WorkStation</h2>
            <div class="dropdown">
                <img src={% static "img/icone_perfil.jpg" %} alt="perfil" class="dropbtn">
                <div class="dropdown_menu">
                    <a href="">Alterar</a>
                    <a href="">Exit</a>
                </div>
            </div>
        </nav>
    </header>

    {% block main %}
    {% endblock main %}

    <script src={% static "javascript/base.js" %}></script>
    {% block javascript %}{% endblock javascript %}
</body>
</html>