{% extends "base.html" %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href={% static "css/cadDirecao.css" %}>
{% endblock estilos %}
{% block main %}
    <h2>Direção</h2><hr>
    <div class="infos">
        <form method="post" class="infos_content">
            {% csrf_token %}
            <div class="title_form">
                {% if user.is_authenticated %}
                    <a href={% url "direcao:direcao" %}>
                        <img src={% static "img/icons8-back-arrow-50.png" %} alt="Voltar" aria-details="Voltar">
                    </a>
                {% else %}
                    <a href={% url "loginInicio:login_usuario" %}>
                        <img src={% static "img/icons8-back-arrow-50.png" %} alt="Voltar" aria-details="Voltar">
                    </a>
                {% endif %}
                <p>Cadastro Direção</p>
            </div>
            <div class="infos_content_grupo">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nomeCad" placeholder="Digite seu nome...">
            </div>
            <div class="infos_content_grupo">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" id="cpfCad" placeholder="Digite seu cpf...">
            </div>
            <div class="infos_content_grupo">
                <label for="Data de Nascimento">Data de Nascimento</label>
                <input type="date" name="Data de Nascimento" id="dateCad" pattern="\d{4}-\d{2}-\d{2}">
            </div>
            <div class="infos_content_grupo">
                <label for="Email">Email</label>
                <input type="email" name="Email" id="emailCad" placeholder="Digite seu email...">
            </div>
            <div class="infos_content_grupo">
                <label for="Senha">Senha</label>
                <input type="password" name="Senha" id="senhaCad" placeholder="Crie uma senha...">
            </div>
            <div class="infos_content_grupo">
                <label for="Confirmar Senha">Confirmar Senha</label>
                <input type="password" name="Confirmar Senha" id="confirmSenhaCad" placeholder="Confirme sua senha...">
            </div>
            <span id="senhasIncorretas" class="spanInfo">Senhas não correspondem</span>
            <input type="submit" value="Criar Usuario" id="submit-cad">
        </form>
        <div id="cadSuccessfully" class="modal" >
            <div class="modal-content" >
                <div class="opcoes-content">
                    <!-- pop-up content-->
                    <img src={% static "img/icons8-check-96.png" %}>
                    <p>Cadastro efetuado com sucesso!</p>
                    <div class="dados_user" id="dados_user">
                        <p id="dados_user_nameUser"></p>
                        <p id="dados_user_pass"></p>
                    </div>
                    <button type="button" onclick="voltarConfirm()">
                        {% if user.is_authenticated %}
                        Voltar para Direção
                        {% else %}
                        Voltar para Login
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascript %}
    <script src={% static "javascript/cadDirecao.js" %}></script>
{% endblock javascript %}