{% extends "base.html" %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href={% static "css/login.css" %}>
{% endblock estilos %}
{% block main %}
    <main>
        <div class="infos">            
            <form method="post" class="infos_content">
                <p>Login</p>
                <div class="infos_content_grupo">
                    <label for="usuario">Usuario</label>
                    <input type="email" name="usuario" id="usuario" placeholder="Digite seu usuário">
                </div>
                <div class="infos_content_grupo">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha...">
                </div>
                <a href="">Primeira vez aqui?</a>
                <a href="">Esqueceu a senha?</a>
                <button type="button">Entrar</button>
            </form>
        </div>
    </main>
{% endblock main %}