{% extends "base.html" %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href={% static "css/cadAluno.css" %}>
{% endblock estilos %}

{% block main %}
    <h2>Aluno(a)</h2><hr>
    <div class="infos">
        <form method="post" class="infos_content">
            {% csrf_token %}
            <div class="title_form">
                <a href={% url "aluno:aluno" %}>
                    <img src={% static "img/icons8-back-arrow-50.png" %} alt="Voltar" aria-details="Voltar">
                </a>
                <p>{{titulo}}</p>
            </div>
            <div class="infos_content_grupo">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nomeCad" placeholder="Digite seu nome...">
            </div>
            <div class="infos_content_grupo">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" id="cpfCad" placeholder="Digite seu cpf...">
            </div>
            <div class="infos_content_grupo">
                <label for="Data de Nascimento">Data de Nascimento</label>
                <input type="date" name="Data de Nascimento" id="dateCad">
            </div>
            <div class="infos_content_grupo">
                <label for="Email">Email</label>
                <input type="email" name="Email" id="emailCad" placeholder="Digite seu email...">
            </div>
            <div class="infos_content_grupo_gerarSenha">
                <label for="Senha">Senha Temporaria</label>
                <button type="button" id="gerePass" name="Senha" onclick="gerarSenha()">Gerar senha</button>
            </div>
            <span id="gerar_senha" class="spanInfo"></span>
            <span id="aviso_gerePass" class="spanInfo">Gere uma senha e anote!</span>
            <input type="submit" id="submit" value="{{submit}}">
        </form>
    </div>
    <div id="cadSuccessfully" class="modal" >
        <div class="modal-content" >
            <div class="opcoes-content">
                <!-- pop-up content-->
                <img src={% static "img/icons8-check-96.png" %}>
                <p>Cadastro efetuado com sucesso!</p>
                <div class="dados_user" id="dados_user">
                    <p id="dados_user_nameUser"></p>
                    <p id="dados_user_pass"></p>
                </div>
                <button type="button" onclick="voltarConfirm()">Voltar para Aluno(a)</button>
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascript %}
    <script src={% static "javascript/cadAluno.js" %}></script>
{% endblock javascript %}